body {
	text-align: center;
	background-color: crimson;
}
#marqqeestyle {
	background-image: linear-gradient(#DD2C00,#FF80AB);
	font-size: 20px;
	color:floralwhite;
}
gosmi1 {
height: 1000px;
width: 1000px
}
gosmi2 {
height: 500px;
width: 500px;
}
gosmi3 {
height: 500px;
width: 500px;
}
gosmi4 {
height: 500px;
width: 500px;
}
gosmi5 {
height: 500px;
width: 500px;
}
betaloki {
	font-size: 200px;
}